<div id="sweath-container" {{#if hideDialog}}style="display:none"{{/if}} style="bottom:{{windowPosition.bottom}}px; left:{{windowPosition.left}}px;">
	<div id="sweath-wrapper">
		<div id="calendar-box" {{#if hideCalendar}}style="display:none"{{/if}}>

			<!-- header -->
			<header id="calendar-header">
				<div class="sweath-topbar">
					<div id="sweath-weather-move-handle">&nbsp;</div>

					<div>
						<div id="weather-toggle" class="sweath-icon-btn">
							<i class="fas fa-cloud-sun" title="{{localize 'sweath.labels.openWeatherBox'}}"></i>
						</div>
					</div>
				</div>
			</header>

			<!-- date side -->
			<div class="date-box">

				<!-- date display -->
				<div id="date-display">
					<h2>
						<span id="weekday">{{ weekday }}, </span>
						<span id="date">{{ displayDate }}</span>
					</h2>
				</div>

				<!-- clock display -->
				<div class="clock">
					<div id="start-stop-clock" class="time-display">
						<div class="time">
							<span class="calendar-time-disp" id="calendar-time">{{ formattedTime }}</span>
						</div>
					</div>
				</div>
			</div>

			<!-- footer -->
			<!--
			{{#if isGM}}
			<footer class="">
			</footer>
			{{/if}}
			-->
		</div>

		<div id="weather-box" {{#if hideWeather}}style="display:none"{{/if}}>
			<div id="sweath-weather-container">
				<header id="weather-header">
					<div class="sweath-topbar">
						<div id="sweath-calendar-move-handle" style="flex:1 1 80%">&nbsp;</div>

						{{#if isGM}}
							<div id="sweath-weather-refresh" class="sweath-button" title="{{localize 'sweath.labels.regenerateWeather'}}">
								<i class="fas fa-redo"></i>
							</div>
						{{/if}}
					</div>

					{{#if isGM}}
						<div style="padding-left: 7px;">
							<span id="sweath-season-icon">
								<span class="fa {{ currentSeasonClass }}"></span>
							</span>
						</div>

						<div class="select-wrapper" style="flex:1">
							{{#if isGM}}
								<select id="season-selection" title="{{localize 'sweath.options.season.select'}}">
									{{#each seasonSelections}}
										<option title="{{text}}" value="{{value}}">{{text}}</option>
									{{/each}}
								</select>
							{{/if}}
						</div>
						<div class="select-wrapper" style="flex:1">
							<select id="biome-selection" title="{{localize 'sweath.options.biome.select'}}">
								{{#each biomeSelections}}
									<option title="{{text}}" value="{{value}}">{{text}}</option>
								{{/each}}
							</select>
						</div>
						<div class="row-break"></div>

						<div class="select-wrapper" style="flex:0 0 50%">
							<select id="climate-selection" title="{{localize 'sweath.options.climate.select'}}">
								{{#each climateSelections}}
									<option title="{{text}}" value="{{value}}">{{text}}</option>
								{{/each}}
							</select>
						</div>
						<div class="select-wrapper" style="flex: 0 0 50%">
							<select id="humidity-selection" title="{{localize 'sweath.options.humidity.select'}}">
								{{#each humiditySelections}}
									<option title="{{text}}" value="{{value}}">{{text}}</option>
								{{/each}}
							</select>
						</div>			

						<div class="row-break"></div>

						<div id="sweath-weather-refresh" class="sweath-button" title="{{localize 'sweath.labels.regenerateWeather'}}">
							<i class="fas fa-redo"></i>
						</div>

					{{/if}}
				</header>
				<div class="sweath-weather-content">
					<div class="weather-description">
						<p id="current-description">{{ currentTemperature }} - {{ currentDescription }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
