<div id="sweath-container" {{#if hideWeather}}class="hide-weather"{{/if}} style="top:{{windowPosition.top}}px; left:{{windowPosition.left}}px;">
	<div id="sweath-wrapper" {{#if hideDialog}}style="display:none"{{/if}}>
		<div id="calendar-box" {{#if hideCalendar}}style="visibility:hidden;overflow:hidden"{{/if}}>

			<!-- header -->
			<header id="calendar-header">
				<div class="topbar">
					<div id="sweath-weather-move-handle">&nbsp;</div>

					<div>
						<div id="weather-toggle" class="sweath-icon-btn">
							<i class="fas fa-cloud-sun" title="{{localize 'sweath.labels.openWeatherBox'}}"></i>
						</div>
					</div>
				</div>
			</header>

			<!-- date side -->
			<div class="date-box">

				<!-- date display -->
				<div id="date-display">
					<h2>
						<span id="weekday">{{ weekday }}, </span>
						<span id="date">{{ displayDate }}</span>
						<span id="moon"></span>
					</h2>
				</div>

				<!-- clock display -->
				<div class="clock">
					<div id="start-stop-clock" class="time-display">
						{{#if isGM}}
						<div id="clock-run-indicator" title="{{localize 'ClockRunning'}}">
							<ul>
								<li>
									<i class="fas fa-hourglass-start"></i>
								</li>
								<li>
									<i class="fas fa-hourglass-half"></i>
								</li>
								<li>
									<i class="fas fa-hourglass-end"></i>
								</li>
								<li>
									<i class="fas fa-hourglass"></i>
								</li>
							</ul>
						</div>
						{{/if}}
						<div class="time">
							<span class="calendar-time-disp" id="calendar-time">{{ formattedTime }}</span>
						</div>
						<!--
						{{#if isGM}}
						<div id='time-running' class="start-stop">
							<i class="fas fa-play"></i>
							<i class="fas fa-stop"></i>
						</div>
						{{/if}}
						-->
					</div>
				</div>
			</div>

			<!-- footer -->
			<!--
			{{#if isGM}}
			<footer class="">
			</footer>
			{{/if}}
			-->
		</div>

		<div id="weather-box">
			<div id="sweath-weather-container">
				<header id="weather-header">
					<div class="topbar">
						{{#unless isGM}}
							<div style="display: flex; align-items:center; flex: 1 1 30px">
								<div>
									<span id="sweath-current-temperature">{{ currentTemperature }}</span>
								</div>
							</div>
						{{/unless}}

						<div id="sweath-calendar-move-handle" style="flex:1 1 80%">&nbsp;</div>
					</div>

					{{#if isGM}}
						<div>
							<span id="sweath-current-temperature">{{ currentTemperature }}</span>
						</div>

						<div style="flex:1">
							{{#if isGM}}
								<select id="season-selection" title="{{localize 'sweath.options.season.select'}}">
									{{#each seasonSelections}}
										<option title="{{text}}" value="{{value}}">{{text}}</option>
									{{/each}}
								</select>
							{{/if}}
						</div>
						<div style="flex:1">
							<select id="biome-selection" title="{{localize 'sweath.options.biome.select'}}">
								{{#each biomeSelections}}
									<option title="{{text}}" value="{{value}}">{{text}}</option>
								{{/each}}
							</select>
						</div>
						<div id="sweath-weather-refresh" class="calendar-btn" title="{{localize 'sweath.labels.regenerateWeather'}}">
							<i class="fas fa-redo"></i>
						</div>
						<div class="row-break"></div>
						<div style="flex:0 0 50%">
							<select id="climate-selection" title="{{localize 'sweath.options.climate.select'}}">
								{{#each climateSelections}}
									<option title="{{text}}" value="{{value}}">{{text}}</option>
								{{/each}}
							</select>
						</div>
						<div style="flex: 0 0 50%">
							<select id="humidity-selection" title="{{localize 'sweath.options.humidity.select'}}">
								{{#each humiditySelections}}
									<option title="{{text}}" value="{{value}}">{{text}}</option>
								{{/each}}
							</select>
						</div>			
					{{/if}}
				</header>
				<div class="sweath-weather-content">
					<div class="weather-description">
						<p id="current-description">{{ currentDescription }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
